<ion-header>
  <ion-toolbar hidden>
    <ion-title>vehicle-types</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="row">
      <div class="col">
        <center>
          <h1 id="login-title"></h1>
          <h3>Select Vehicle Type</h3>
        </center>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-grid>  
          <ion-row>
            <ion-col>
              <ion-card class="shadow-normal card-primary">
    
                <ion-card-header>
                  <img src="../../assets/car-img/sedan.png">
                </ion-card-header>
              
                <ion-card-content>
                  <p>Sedan</p>

                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="shadow-normal card-primary">
    
                <ion-card-header>
                  <img src="../../assets/car-img/coupe.png">
                </ion-card-header>
              
                <ion-card-content>
                  <p>Coupe</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col>
              <ion-card class="shadow-normal card-primary">
    
                <ion-card-header>
                  <img src="../../assets/car-img/hatchback.png">
                </ion-card-header>
              
                <ion-card-content>
                  <p>Hatchback</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="shadow-normal card-primary">
    
                <ion-card-header>
                  <img src="../../assets/car-img/suv.png">
                </ion-card-header>
              
                <ion-card-content>
                  <p>SUV</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-card class="shadow-normal card-primary">
    
                <ion-card-header>
                  <img src="../../assets/car-img/van.png">
                </ion-card-header>
              
                <ion-card-content>
                  <p>Van</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="shadow-normal card-primary">
    
                <ion-card-header>
                  <img src="../../assets/car-img/picku-truck.png">
                </ion-card-header>
              
                <ion-card-content>
                  <p>Pickup Truck</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-card class="shadow-normal card-primary">
    
                <ion-card-header>
                  <img src="../../assets/car-img/sportscar.png">
                </ion-card-header>
              
                <ion-card-content>
                  <p>Sports Car</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="shadow-normal card-primary">
    
                <ion-card-header>
                  <img src="../../assets/car-img/convertable.png">
                </ion-card-header>
              
                <ion-card-content>
                  <p>Convertable</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
    
    
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
