<ion-header class="ion-no-border top1">
  <ion-toolbar>

    <h4 class="ion-margin-start" style="font-size: 140%; color: white;">Speedy</h4>
    
    <!-- <img slot="end" src="../../assets/driver-pic/crymeme.jpg" class="rounded1" alt="..."> -->
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons> -->

  </ion-toolbar>
</ion-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-content [fullscreen]="true">

  <!-- <ion-toolbar>
    <h2 class="ion-margin-start intro">Speedy Drivers</h2>
  </ion-toolbar> -->

  <div class="payment">
    <ion-item>
      <h2 style="font-size: 125%;">Types</h2>
    </ion-item>
  
    <div class="text-center">
      <ion-slides [options]="sliderBrands" class="type">
    
        <ion-slide>
              <ion-card>
                <ion-card-header>
                  <img src="../../assets/car-type/sedan-icon.png">
                  <!-- <ion-card-subtitle>Sedan</ion-card-subtitle> -->
                </ion-card-header>
              </ion-card>
        </ion-slide>
    
        <ion-slide>
              <ion-card>
                <ion-card-header>
                  <img src="../../assets/car-type/supercar-icon.png">
                  <!-- <ion-card-subtitle>Sports</ion-card-subtitle> -->
                </ion-card-header>
              </ion-card>
        </ion-slide>
    
        <ion-slide>
              <ion-card>
                <ion-card-header>
                  <img src="../../assets/car-type/suv-icon.png">
                  <!-- <ion-card-subtitle>SUV</ion-card-subtitle> -->
                </ion-card-header>
              </ion-card>
        </ion-slide>
    
        <ion-slide>
              <ion-card>
                <ion-card-header>
                  <img src="../../assets/car-type/van-icon.png">
                  <!-- <ion-card-subtitle>Van</ion-card-subtitle> -->
                </ion-card-header>
              </ion-card>
        </ion-slide>
    
      </ion-slides>
    </div>
    </div>


    <div class="payment">
      <ion-item>
        <h2 style="font-size: 125%;">Speedy Drivers</h2>
        <ion-icon name="funnel" color="dark" slot="end"></ion-icon>
      </ion-item>
    </div>

    <div class="driver ion-padding">
      <ion-card class="driver_list" *ngFor="let item of driver">
        <ion-item no-padding class="driver_item">
          <ion-avatar slot="start">
            <img src="../../assets/driver-pic/crymeme.jpg" class="rounded" />
          </ion-avatar>
          <ion-label>
            <p class="drivername">{{ item.drivername }}</p>
            <h7 class="address">{{ item.status }}</h7>
            <br>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </ion-label>
          <ion-button (click)="presentModal()" size="small" color="dark" class="float-right btn_details"><ion-icon name="arrow-forward-outline" class="icon"></ion-icon></ion-button>
        </ion-item>
      </ion-card>
    </div>

</ion-content>
