@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "bootstrap";

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }

ion-header{
    --ion-background-color: rgb(26, 26, 26);
}

ion-toolbar{
    border-radius: 0px 0px 20px 20px;
}

ion-item{
    --border-width: 0;
    --inner-border-width: 0;
}

ion-content{
    --ion-background-color: white;
}

.rounded{
    border-radius: 100% !important;
    max-width: 100%;
    margin-right: 5%;
}

.rounded1{
    border-radius: 100% !important;
    max-width: 11%;
    margin-right: 5%;
  }


  .type{
    margin-top: 0%;
    //width: 100%;
  }

.payment{
    margin-top: 5%;
  }

.intro{
    margin-top: 5%;
}

.driver{
    margin-bottom: 25%;
}

.driver_list{
    border-radius: 20px;
    margin-top: 5%;
    max-height: fit-content;
}

.btn_details{
    margin-top: 60px;
    height: 50px;
    width: 70px;
    --border-radius: 20px 0px 20px 0px;
    //margin-right: -50px;
}

.driver_item{
    --padding-end: 0px;
  --inner-padding-end: 0px;
}

