<ion-content fullscreen="true" >


  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../assets/driver-pic/crymeme.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">John Doe</h3>
      <h5 class="country">Marawi City</h5>
      <center>
        <h6 class="ranking">Available Now</h6>
      </center>
      
    </div>
    <ion-button (click)="booknow();" expand="full" shape="round" color="dark">Book Now</ion-button><div style="margin-top: 1rem;"></div>

    <ion-button (click)="presentModal();" expand="full" shape="round" color="light">Message</ion-button><div style="margin-top: 1rem;"></div>

    <ion-button expand="full" shape="round" color="light">Call</ion-button><div style="margin-top: 1rem;"></div>
  </div>
</ion-content>


