@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "bootstrap";

*{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

ion-content{
    --ion-background-color: white;
}
        
        .avatar {
            width: 95px;
            height: 95px;
            position: relative;
            margin: 0 auto;
            margin-top: -45px;
            color: white;
            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px));
                // border: 6px solid black;
                background-color: white;
            }
        }
     
.card-body {
    background-color: #ffffff;

    height: auto;


    .user-meta {
        padding-top: 40px;

        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
            margin-top: 40px;
        }

        .country {
            font-size: 90%;
            color: #949ea6;
            text-transform: uppercase;
            margin: 0 auto;
        }
    }
}

.ranking {
    background-color: green;
    color: white;
    width: 50%;
    padding: 0.3rem;
    border-radius: 5rem;
    font-size: 0.9rem;
}

.checked {
    color: orange;
}

.driver_item{
    border-radius: 20px;
    margin-top: 0%;
    --padding-end: 0px;
  --inner-padding-end: 0px;
  background-color: white;
  }

.icon{
    max-width: 100px;
}

ion-card{
    display: block;
    //flex-direction: column;
    max-width: 100%;
    margin: 1 !important;
    border-radius: 10%;
}

.cn{
    margin-top: -5%;
}

.add{
    margin-top: -5%;
}

.btn_book{
    height: 50px;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
  }

#desc{
    font-size: 12px;
}

.info{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.info_type{
    color: black;
    font-size: 12px;
}

.rate_class{
    color: black;
    font-size: 13px;
}

.rate{
    color: black;
    font-size: 15px;
    font-weight: medium;
}