<ion-content [fullscreen]="true">


      <div class="avatar">
        <img src="../../assets/driver-pic/crymeme.jpg" alt="">
      </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">John Doe</h3>
      <p id="desc">2 years driving experience of Victory Line bus. Knowledgeable on locations around Luzon.</p>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      
      <center>
        <h6 class="ranking">Available Now</h6>
      </center>
      
    </div>

    <div class="text-center">
    <ion-row>
      <ion-col>
        <ion-card class="shadow-normal card-primary " class="driver_item ion-activatable ripple-parent" (click)="someFunction()">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header>
            <img src="../../assets/icon/time.png">
          </ion-card-header>
        
          <ion-card-content>
            <h6 class="rate_class">Hour rate</h6>
            <h7 class="rate">250<span>/hour</span></h7>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="shadow-normal card-primary" class="driver_item ion-activatable ripple-parent" (click)="someFunction()">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header>
            <img src="../../assets/icon/calendar (5).png">
          </ion-card-header>
        
          <ion-card-content>
            <h6 class="rate_class">Day rate</h6>
            <h7 class="rate">1000<span>/day</span></h7>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>


    

    <div>
      <ion-row>
        <ion-col>
          <ion-card class="shadow-normal card-primary" class="driver_item">
  
            <ion-card-content>
              <ion-card-subtitle class="info">Type</ion-card-subtitle>
              <ion-chip outline color="dark" *ngFor="let item of types">
                <ion-label class="info_type">{{ item.type }}</ion-label>
              </ion-chip>
            </ion-card-content>

            <ion-card-content class="cn">
              <ion-card-subtitle class="info">Transmission</ion-card-subtitle>
              <ion-chip outline color="dark" *ngFor="let item of transmission">
                <ion-label class="info_type">{{ item.type }}</ion-label>
              </ion-chip>
            </ion-card-content>
        
            <ion-card-content class="cn">
              <ion-card-subtitle class="info">Contact Number</ion-card-subtitle>
              <ion-chip outline color="dark" *ngFor="let item of contact">
                <ion-label class="info_type">{{ item.number }}</ion-label>
              </ion-chip>
            </ion-card-content>
        
            <ion-card-content class="add">
              <ion-card-subtitle class="info">Address</ion-card-subtitle>
              <ion-chip outline color="dark" *ngFor="let item of address">
                <ion-label class="info_type">{{ item.location }}</ion-label>
              </ion-chip>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
      

    


    <ion-button (click)="presentAlert();" expand="full" shape="round" color="dark" class="btn_book">Book Now</ion-button>
  </div>
</ion-content>


