<ion-header [translucent]="true">
  <ion-toolbar hidden>
    <ion-title>
      Login
    </ion-title>

    <!-- BOXICON CDN -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!-- FONTAWESOME CDN -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="row" hidden>
      <div class="col">
        <a (click)="back();" class="back-icon">
          <i class="far fa-arrow-alt-circle-left"></i>
        </a>
      </div>
    </div>

    <div style="margin-top: 3rem !important;"></div>

    <div class="row">
      <div class="col">
        <h1 id="login-title">Speedy</h1>
        <h5>Sign in to your account</h5>
      </div>
    </div>

    <div style="margin-top: 5rem;"></div>

    <div class="row">
      <div class="col">
        <center>
          <ion-input type="text" class="input-format" placeholder="Username" autofocus>
            <i class='bx bxs-user input-icon'></i>
          </ion-input>
        </center>
      </div>
    </div>

    <div style="margin-top: 2rem;"></div>

    <div class="row">
      <div class="col">
        <center>
          <ion-item lines="none" class="input-format">
            <i class='bx bxs-lock '></i>
            <ion-input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'"  placeholder="Password" style="padding-left: 7px !important;"></ion-input>
            <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
          </ion-item>        
        </center>
      </div>
    </div>

    <div style="margin-top: 1rem;"></div>

    <div class="row">
      <div class="col">
        <a href="#" class="forgot-password">Forgot your password?</a>
      </div>
    </div>

    <div style="margin-top: 2.2rem;"></div>

    <div class="row">
      <div class="col">
        <center>
          <ion-button id="signin-button" expand="block" shape="round" (click)="signin();">Sign In</ion-button>
        </center>
      </div>
    </div>

    <div style="margin-top: 2.7rem;"></div>

    <div class="row">
      <div class="col">
        <span>Don't have an account?<a (click)="register();" class="no-account"> Create</a></span>
        
      </div>
    </div>    
    
  </div>
</ion-content>
