<ion-content>
  <ion-list>
    <ion-item>
      <ion-label style="font-size: 125%;"><img src="../../assets/driver-pic/crymeme.jpg" class=" message-profile-pic" alt="..."> John Doe</ion-label>
    
    </ion-item>

    <div class="trans">

      <div class="text-center">
        
        <img src="../../assets/driver-pic/crymeme.jpg" class="rounded mx-auto d-block chat-logo" alt="...">
        <label class="chat">Hey</label>

        <img src="../../assets/driver-pic/crymeme.jpg" class="rounded2 mx-auto d-block chat-logo2" alt="...">
        <label class="chat2">Yes?</label>
        
      </div>

    </div>

  </ion-list>
</ion-content>

<!-- Footer without a border -->
<ion-footer class="ion-no-border" style="background: white !important;">
  <ion-toolbar>
    
    <ion-item lines="none">
      <img src="../../assets/icon/plus.png" class="plus-icon" alt="...">
      <ion-input placeholder="Type a message" style="padding-left: 7px !important; background: white !important; border-radius: 5rem;"></ion-input>
    </ion-item>

  </ion-toolbar>
</ion-footer>
