.rounded{
    border-radius: 100% !important;
    max-width: 13%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.chat-logo {
    float: right;
    margin-right: 0.5rem !important;
}

.chat {
    float: right;
    background-color: #1a1a1a;
    color: white;
    margin-top: 12%;
    margin-bottom: 5%;
    margin-right: 0.5rem !important;
    padding: 0.8rem;
    border-radius: 1rem;

}

.rounded2{
    border-radius: 100% !important;
    max-width: 13%;
    margin-top: 30%;
    margin-bottom: 5%;
}

.chat-logo2 {
    float: left;
    margin-left: 0.5rem !important;
}

.chat2 {
    float: left;
    background-color: #1a1a1a;
    color: white;
    margin-top: 32%;
    margin-bottom: 5%;
    margin-left: 0.5rem !important;
    padding: 0.8rem;
    border-radius: 1rem;

}

.message-profile-pic {
    border-radius: 100% !important;
    max-width: 13%;
}

#footer {
    position:fixed;
    bottom:0;
}

.input-format {
    text-align: left !important;
    box-shadow: 0 3px 10px rgba(189, 189, 189, 0.424);
    width: 85%;
    border-radius: 3rem;
    padding: 8px !important;
  }

  .plus-icon {
      border-radius: 100% !important;
      max-width: 10%;
      margin-right: 4px;
  }

