<ion-content fullscreen="true" >


  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../assets/driver-pic/crymeme.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">John Doe</h3>
      <h5 class="country">Marawi City</h5>
      <h6 class="ranking">Available Now</h6>
    </div>
    <ion-button expand="full" color="dark">Book Now</ion-button>
    <ion-button expand="full" color="light">Message</ion-button>
    <ion-button expand="full" color="light">Call</ion-button>
  </div>
</ion-content>


