<ion-content fullscreen="true" >
    
  <div class="ion-padding">


    <ion-card class="driver_item1">
      <ion-list>
        <ion-item class="date1">
          <ion-label position="stacked" style="font-size: 20px;">Pick-up</ion-label>
          <ion-input placeholder="Pick-up Date" style="font-size: 12px;"><ion-icon name="calendar"></ion-icon></ion-input>
          <ion-input placeholder="Location" style="font-size: 12px;"><ion-icon name="location"></ion-icon></ion-input>
        </ion-item>
        <ion-item class="date2">
          <ion-label position="stacked" style="font-size: 20px;">Drop-off</ion-label>
          <ion-input placeholder="Drop-off Date" style="font-size: 12px;"><ion-icon name="calendar"></ion-icon></ion-input>
          <ion-input placeholder="Location" style="font-size: 12px;"><ion-icon name="location"></ion-icon></ion-input>
        </ion-item>
      </ion-list>
    </ion-card>


  <div class="text-left">
        <ion-card class="shadow-normal card-primary" class="driver_item2">

          <ion-card-content>
            <ion-card-subtitle style="color: black;">Price Summary</ion-card-subtitle>
              <ion-card-subtitle>Car Rental Fee:<span class="float-right">3,000</span></ion-card-subtitle>
              <ion-card-subtitle>Driver Fee:<span class="float-right">1,000</span></ion-card-subtitle>
              <ion-card-subtitle>Deposit:<span class="float-right">2,000</span></ion-card-subtitle>
            <ion-card-subtitle style="color: black;">Total Amount:<span class="float-right">6,000</span></ion-card-subtitle>
          </ion-card-content>
        </ion-card>

  </div>

</div>
    
  <div class="card-body">
    <ion-button (click)="presentModal();" expand="full" shape="round" color="dark" class="btn_book">
      <!-- <ion-chip outline color="light">
      <ion-label>₱ 6,000</ion-label>
    </ion-chip> -->
    Book Now</ion-button>
    </div>
</ion-content>


