<ion-content fullscreen="true" >
    
  <div class="ion-padding">


    <ion-card class="driver_item1">
      <ion-list>
        <ion-item class="date1">
          <ion-label position="stacked" style="font-size: 20px;">Pick-up</ion-label>
          <ion-input placeholder="February 27, 2022" style="font-size: 12px;"><ion-icon name="calendar"></ion-icon></ion-input>
          <ion-input placeholder="San Antonio, Cabangan, Zambales" style="font-size: 12px;"><ion-icon name="location"></ion-icon></ion-input>
        </ion-item>
        <ion-item class="date2">
          <ion-label position="stacked" style="font-size: 20px;">Drop-off</ion-label>
          <ion-input placeholder="February 28, 2022" style="font-size: 12px;"><ion-icon name="calendar"></ion-icon></ion-input>
          <ion-input placeholder="2nd Street, Banicain, Olongapo City" style="font-size: 12px;"><ion-icon name="location"></ion-icon></ion-input>
        </ion-item>
      </ion-list>
    </ion-card>


  <div class="text-left">
        <ion-card class="shadow-normal card-primary" class="driver_item2">

          <ion-card-content>
            <ion-card-subtitle style="color: black; font-size: 18px;">Price details</ion-card-subtitle>
            <ion-card-subtitle>Pay at pick-up</ion-card-subtitle>
              <ion-card-subtitle>Car Rental Fee:<span class="float-right">3,000</span></ion-card-subtitle>
              <ion-card-subtitle>Taxes and fees:<span class="float-right">included</span></ion-card-subtitle>
              <br>
            <ion-card-subtitle style="color: black; font-size: 15px;">Total Amount:<span class="float-right">3,000</span></ion-card-subtitle>
            <ion-card-subtitle>Pay at pick-up:<span class="float-right">3,000</span></ion-card-subtitle>
          </ion-card-content>
        </ion-card>

  </div>

</div>
    
  <div class="card-body">
    <ion-button (click)="presentModal();" expand="full" shape="round" color="dark" class="btn_book">
      <!-- <ion-chip outline color="light">
      <ion-label>₱ 6,000</ion-label>
    </ion-chip> -->
    Book Now</ion-button>
    </div>
</ion-content>


