<ion-content>


  <ion-list>
    <ion-item>
      <ion-label style="font-size: 125%;">Messages</ion-label>
    </ion-item>

    <div>
      <ion-searchbar style="font-size: 130%; border-radius: 5rem;" showCancelButton="focus" animated placeholder="Search"></ion-searchbar>
    </div>

    <div class="trans">

    <ion-item>
      <img slot="start" src="../../assets/driver-pic/crymeme.jpg" class="rounded" alt="...">
      <ion-label>
        <h7 style="font-weight: bold;">John Doe</h7>
        <h6>yes?</h6>
      </ion-label>
      <span style="font-size: 0.9rem; color: rgb(182, 180, 180);">02/16/2022 10:51 PM</span>
    </ion-item>

    <ion-item>
      <img slot="start" src="../../assets/driver-pic/crymeme.jpg" class="rounded" alt="...">
      <ion-label>
        <h7 style="font-weight: bold;">John Doe</h7>
        <h6>yes?</h6>
      </ion-label>
      <span style="font-size: 0.9rem; color: rgb(182, 180, 180);">02/16/2022 10:51 PM</span>
    </ion-item>

    <ion-item>
      <img slot="start" src="../../assets/driver-pic/crymeme.jpg" class="rounded" alt="...">
      <ion-label>
        <h7 style="font-weight: bold;">John Doe</h7>
        <h6>yes?</h6>
      </ion-label>
      <span style="font-size: 0.9rem; color: rgb(182, 180, 180);">02/16/2022 10:51 PM</span>
    </ion-item>

    <ion-item>
      <img slot="start" src="../../assets/driver-pic/crymeme.jpg" class="rounded" alt="...">
      <ion-label>
        <h7 style="font-weight: bold;">John Doe</h7>
        <h6>yes?</h6>
      </ion-label>
      <span style="font-size: 0.9rem; color: rgb(182, 180, 180);">02/16/2022 10:51 PM</span>
    </ion-item>

  </div>

  </ion-list>


</ion-content>