<ion-content>
  <img class="speedyLogo" src="../../assets/speedyLogo/Speedy Full Logo Black 1.png" />

  <img class="carPic" src="../../assets/car-img/580b585b2edbce24c47b2cca.png" />

  <div class="intro">
    <ion-list-header style="font-size: 170%; color: white;"> Welcome!  </ion-list-header>
    <ion-list-header style="font-size: 130%; color: white;"> Find the ideal car for you </ion-list-header>
    <ion-list-header class="par">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </ion-list-header>
  </div>

  <section>
    <ion-button class="btn_go" shape="round" color="light" expand="block" [routerLink]="['tab1']">Explore Now</ion-button>
  </section>
  
</ion-content>
