@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "bootstrap";

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }


ion-content{
    --ion-background-color: black;
    --background: linear-gradient(white, black);
}

.speedyLogo{
    height: auto;
    display: block;
    max-width: 50%;
    transform: translate(50%, 60%);
    position: absolute;
}

.carPic{
    height: auto;
    display: block;
    max-width: 130%;
    transform: translate(-30%, 80%);
    position: absolute;
    
}

.intro{
    margin-top: 150%;
}

.par{
    font-size: 90%;
    color: #e6e6e6;
}

.btn_go{
    margin-top: 10%;
    width: 320px;
    height: 50px;
    margin-left: 9%;
    --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
}