<ion-content [fullscreen]="true">

<div class="text-center">
  <img class="logo" src="../../assets/speedyLogo/Speedy Full Logo Black 1.png">
</div>

<div class="text-center check">
  <img src="../../assets/icon/check (1).png">
  <h2 class="thank">Thank you!</h2>
  <p>Enjoy your ride</p>
</div>

<div class="card-body">
  <ion-button (click)="back();" expand="full" shape="round" color="dark" class="btn_book">
    <!-- <ion-chip outline color="light">
    <ion-label>₱ 3,000/a day</ion-label>
  </ion-chip> -->
  Back to Home</ion-button>
  </div>

</ion-content>
