<ion-content>

  <ion-item>
    <ion-icon name="arrow-back-outline" size="large" class="btn_back"></ion-icon>
    <ion-icon  slot="end" name="receipt-outline" class="btn_back"></ion-icon>
  </ion-item>

  
  <div class="text-center">
    <img src="../../assets/driver-pic/crymeme.jpg" class="rounded mx-auto d-block" alt="...">
    <h2 style="font-family: OpenSans-Bold;">Aldrin Villalobos</h2>
    <ion-icon name="location" style="color: gray;"></ion-icon><span style="font-family: OpenSans; font-size: 100%;">&nbsp; Cabangan, Zambales</span>
    <!-- <h2 style="font-family: OpenSans; font-size: 100%;">Edit</h2> -->
  </div>

  <div class="payment">
    <ion-item>
      <ion-label style="font-family: OpenSans-Bold; font-size: 125%;">Profile</ion-label>
    </ion-item>

    <ion-list>
    <ion-item>
      <ion-label position="stacked" style="font-family: OpenSans-Medium; font-size: 150%;">Name</ion-label>
      <ion-input placeholder="Name" style="font-family: OpenSans;"></ion-input>
      <span slot="end" class="edit" style="font-family: OpenSans;">Edit</span>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-family: OpenSans-Medium; font-size: 150%;">Address</ion-label>
      <ion-input placeholder="Address" style="font-family: OpenSans;"></ion-input>
      <span slot="end" class="edit" style="font-family: OpenSans;">Edit</span>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-family: OpenSans-Medium; font-size: 150%;">Birthdate</ion-label>
      <ion-input placeholder="Birthdate" style="font-family: OpenSans;"></ion-input>
      <span slot="end" class="edit" style="font-family: OpenSans;">Edit</span>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-family: OpenSans-Medium; font-size: 150%;">Phone Number</ion-label>
      <ion-input placeholder="Phone Number" style="font-family: OpenSans;"></ion-input>
      <span slot="end" class="edit" style="font-family: OpenSans;">Edit</span>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-family: OpenSans-Medium; font-size: 150%;">Email</ion-label>
      <ion-input placeholder="Email" style="font-family: OpenSans;"></ion-input>
      <span slot="end" class="edit" style="font-family: OpenSans;">Edit</span>
    </ion-item>
  </ion-list>

    
  <ion-grid>
    <ion-row>
        <ion-col size-sm="6" size="6" class="ion-text-center">
            <ion-button expand="full" class="ion-text-wrap min-max-width" color="dark">Save</ion-button>
        </ion-col>

        <ion-col size-sm="6" size="6" class="ion-text-center">
            <ion-button expand="full" class="ion-text-wrap min-max-width text-dark"  fill="clear">Clear</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
  </div>

  <div class="payment">
    <ion-item>
      <ion-label style="font-family: OpenSans-Bold; font-size: 125%;">Verification</ion-label>
    </ion-item>

    <ion-list>
    <ion-item>
      <ion-label style="font-family: OpenSans-Medium;"><a href="" style="color: black;">Verify ID</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="font-family: OpenSans-Medium;"><a href="" style="color: black;">Verify Email</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="font-family: OpenSans-Medium;"><a href="" style="color: black;"> Verify 09982115529</a></ion-label>
    </ion-item>
  </ion-list>

  </div>

  <ion-list>
    <ion-list-header style="font-size: 125%; font-family: OpenSans-Bold;"> Recent Transactions </ion-list-header>

    <div class="trans">

    <ion-item>
      <ion-label>
        <h2>February 2, 2022</h2>
        <h3>Mazda 3</h3>
      </ion-label>
      <span style="font-family: OpenSans;">P 1,500.00</span>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>February 3, 2022</h2>
        <h3>Mirage G4</h3>
      </ion-label>
      <span style="font-family: OpenSans;">P 2,500.00</span>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>February 4, 2022</h2>
        <h3>Tesla</h3>
      </ion-label>
      <span style="font-family: OpenSans;">P 500.00</span>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>February 5, 2022</h2>
        <h3>Ford Raptor</h3>
      </ion-label>
      <span style="font-family: OpenSans;">P 5,500.00</span>
    </ion-item>

  </div>

  </ion-list>

</ion-content>
