<ion-content>

  <ion-item>
    <ion-icon name="arrow-back-outline" size="large" class="btn_back"></ion-icon>
    <ion-icon (click)="presentModal()" slot="end" name="receipt-outline" class="btn_back"></ion-icon>
  </ion-item>

  
  <div class="text-center">
    <img src="../../assets/driver-pic/crymeme.jpg" class="rounded mx-auto d-block" alt="...">
    <h2>Aldrin Villalobos</h2>
    <ion-icon name="location" style="color: gray;"></ion-icon><span style="font-size: 100%;">&nbsp; Cabangan, Zambales</span>
    <!-- <h2 style="font-family: OpenSans; font-size: 100%;">Edit</h2> -->
  </div>

  <div class="payment">
    <ion-item>
      <ion-label style="font-size: 125%;">Profile</ion-label>
    </ion-item>

    <ion-list>
    <ion-item>
      <ion-label position="stacked" style="font-size: 140%;">Name</ion-label>
      <ion-input placeholder="Name"></ion-input>
      <span slot="end" class="edit">Edit</span>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: 140%;">Address</ion-label>
      <ion-input placeholder="Address" ></ion-input>
      <span slot="end" class="edit">Edit</span>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: 140%;">Birthdate</ion-label>
      <ion-input placeholder="Birthdate"></ion-input>
      <span slot="end" class="edit">Edit</span>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: 140%;">Phone Number</ion-label>
      <ion-input placeholder="Phone Number"></ion-input>
      <span slot="end" class="edit">Edit</span>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-size: 140%;">Email</ion-label>
      <ion-input placeholder="Email"></ion-input>
      <span slot="end" class="edit">Edit</span>
    </ion-item>
  </ion-list>

    
  <ion-grid>
    <ion-row>
        <ion-col size-sm="6" size="6" class="ion-text-center">
            <ion-button expand="full" shape="round" class="ion-text-wrap min-max-width" color="dark">Save</ion-button>
        </ion-col>

        <ion-col size-sm="6" size="6" class="ion-text-center">
            <ion-button expand="full" shape="round" class="ion-text-wrap min-max-width text-dark"  fill="clear">Clear</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
  </div>

  <div class="payment">
    <ion-item>
      <ion-label style="font-size: 125%;">Verification</ion-label>
    </ion-item>

    <div class="trans">
      <ion-list>
        <ion-item>
          <ion-label><a href="" style="color: black;">Verify ID</a></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><a href="" style="color: black;">Verify Email</a></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><a href="" style="color: black;"> Verify 09982115529</a></ion-label>
        </ion-item>
      </ion-list>

      <center>
        <button (click)="logout();" class="btn" id="logout-button">Logout</button>
      </center>
      
    </div>

    
  </div>


</ion-content>
