@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "bootstrap";

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }

ion-content{
    --ion-background-color: white;
}

ion-item{
    --border-width: 0;
    --inner-border-width: 0;
}

.rounded{
    border-radius: 100% !important;
    max-width: 30%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.btn_back{
    margin-top: 10%;
    color: black;
}

.payment{
    margin-top: 5%;

}

.img_payment{
    max-width: 100%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.icon {
    display: inline-block;
    font-size: 35px;
    color: #ffC977;
    vertical-align: middle;
   }
   
   .text{
     display: inline-block;
     vertical-align: middle;
   }

.edit{
    margin-top: 17px;
    color: gray;
}

.trans{
    margin-bottom: 25%;
}