.rounded{
  border-radius: 100% !important;
  max-width: 11%;
  margin-right: 5%;
}


ion-header{
  --ion-background-color: rgb(26, 26, 26);
}

ion-toolbar{
  border-radius: 0px 0px 20px 20px;
}



ion-searchbar{
  --border-radius: 25px;
  --box-shadow: none;
  --background: rgb(228, 228, 228);
  --cancel-button-color: rgb(26, 26, 26);
  --color: rgb(26, 26, 26);
  --icon-color: rgb(26, 26, 26);
    height: 70px;
    margin-top: 5%;
}

ion-content{
  --ion-background-color: white;
}

ion-card{
  display: block;
  //flex-direction: column;
  max-width: 100%;
  margin: 1 !important;
  border-radius: 10%;
}

ion-card-subtitle{
  font-family: OpenSans;
}

ion-item{
  --border-width: 0;
  --inner-border-width: 0;
}

p{
  font-family: OpenSans-Medium;
  font-size: 100%;
}

h5{
  font-family: OpenSans-Bold;
}

.type{
  margin-top: 0%;
  //width: 100%;
}

.type1{
  margin-top: 5%;
}

.available{
  margin-top: 5%;

}

.logo{
  max-width: 30%;
}

.price{
  margin-top: 10%;
}

.payment{
  margin-top: 5%;
}

.intro{
  margin-top: 5%;
}

.recom{
  margin-bottom: 20%;
}

.driver_item{
  border-radius: 20px;
  margin-top: 5%;
  --padding-end: 0px;
--inner-padding-end: 0px;
}

.btn_details{
  margin-top: -30px;
  height: 40px;
  width: 40px;
  --border-radius: 20px 0px 20px 0px;
  margin-right: -15px;
  font-size: 15px;
  font-family: OpenSans-Medium;
}