<ion-header class="ion-no-border top">
  <ion-toolbar>

    <h4 class="ion-margin-start" style="font-family: OpenSans; font-size: 140%; color: white;">Speedy</h4>
    
    <img slot="end" src="../../assets/driver-pic/crymeme.jpg" class="rounded" alt="...">
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons> -->

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  
  <h2 class="ion-margin-start intro" style="font-family: OpenSans-Medium;">Premium Car Rental in Philippines</h2>
  
  <div>
    <ion-searchbar style="font-family: OpenSans-Bold; font-size: 130%;" showCancelButton="focus" animated placeholder="Find Car"></ion-searchbar>
  </div>

  <div class="payment">
    <ion-item>
      <ion-label style="font-family: OpenSans-Medium; font-size: 125%;">Types</ion-label>
    </ion-item>
  
    <div class="text-center">
      <ion-slides [options]="sliderBrands" class="type">
    
        <ion-slide>
              <ion-card>
                <ion-card-header>
                  <img src="../../assets/car-type/sedan-icon.png">
                  <!-- <ion-card-subtitle>Sedan</ion-card-subtitle> -->
                </ion-card-header>
              </ion-card>
        </ion-slide>
    
        <ion-slide>
              <ion-card>
                <ion-card-header>
                  <img src="../../assets/car-type/supercar-icon.png">
                  <!-- <ion-card-subtitle>Sports</ion-card-subtitle> -->
                </ion-card-header>
              </ion-card>
        </ion-slide>
    
        <ion-slide>
              <ion-card>
                <ion-card-header>
                  <img src="../../assets/car-type/suv-icon.png">
                  <!-- <ion-card-subtitle>SUV</ion-card-subtitle> -->
                </ion-card-header>
              </ion-card>
        </ion-slide>
    
        <ion-slide>
              <ion-card>
                <ion-card-header>
                  <img src="../../assets/car-type/van-icon.png">
                  <!-- <ion-card-subtitle>Van</ion-card-subtitle> -->
                </ion-card-header>
              </ion-card>
        </ion-slide>
    
      </ion-slides>
    </div>
    </div>








<div class="available">
  <ion-item>
    <ion-label style="font-family: OpenSans-Bold; font-size: 125%;">Available Cars</ion-label>
  </ion-item>


<ion-item class="driver">
  <ion-label style="font-family: OpenSans; font-size: 100%; color: gray;">With Driver</ion-label>
  <ion-toggle slot="end" name="blackberry" color="dark" checked></ion-toggle>
</ion-item>
</div>




<div>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-card class="shadow-normal card-primary" class="driver_item">

          <ion-card-header>
            <img src="../../assets/car-img/ford_ranger.png">
          </ion-card-header>
        
          <ion-card-content>
            <p>Ford Ranger Wildtrak</p>
            <img src="../../assets/car-logo/ford-logo.png" class="logo">
            <h5 class="price">16,000<span style="color: #b3b3b3; font-family: OpenSans-Medium;"> /a day</span></h5>
            <ion-button size="small" color="dark" class="float-right btn_details" [routerLink]="['/view-car']"><ion-icon name="arrow-forward-outline" class="icon"></ion-icon></ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="shadow-normal card-primary" class="driver_item">

          <ion-card-header>
            <img src="../../assets/car-img/ford_ranger.png">
          </ion-card-header>
        
          <ion-card-content>
            <p>Ford Ranger Wildtrak</p>
            <img src="../../assets/car-logo/ford-logo.png" class="logo">
            <h5 class="price">16,000<span style="color: #b3b3b3; font-family: OpenSans-Medium;"> /a day</span></h5>
            <ion-button size="small" color="dark" class="float-right btn_details"  [routerLink]="['/view-car']"><ion-icon name="arrow-forward-outline" class="icon"></ion-icon></ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="shadow-normal card-primary" class="driver_item">

          <ion-card-header>
            <img src="../../assets/car-img/ford_ranger.png">
          </ion-card-header>
        
          <ion-card-content>
            <p>Ford Ranger Wildtrak</p>
            <img src="../../assets/car-logo/ford-logo.png" class="logo">
            <h5 class="price">16,000<span style="color: #b3b3b3; font-family: OpenSans-Medium;"> /a day</span></h5>
            <ion-button size="small" color="dark" class="float-right btn_details" [routerLink]="['/view-car']"><ion-icon name="arrow-forward-outline" class="icon"></ion-icon></ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="shadow-normal card-primary" class="driver_item">

          <ion-card-header>
            <img src="../../assets/car-img/ford_ranger.png">
          </ion-card-header>
        
          <ion-card-content>
            <p>Ford Ranger Wildtrak</p>
            <img src="../../assets/car-logo/ford-logo.png" class="logo">
            <h5 class="price">16,000<span style="color: #b3b3b3; font-family: OpenSans-Medium;"> /a day</span></h5>
            <ion-button size="small" color="dark" class="float-right btn_details" [routerLink]="['/view-car']"><ion-icon name="arrow-forward-outline" class="icon"></ion-icon></ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>
</div>



<div class="available">
  <ion-item>
    <ion-label style="font-family: OpenSans-Bold; font-size: 125%;">Recommended For You</ion-label>
  </ion-item>
</div>

<div class="recom">
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-card class="shadow-normal card-primary" class="driver_item">

          <ion-card-header>
            <img src="../../assets/car-img/ford_ranger.png">
          </ion-card-header>
        
          <ion-card-content>
            <p>Ford Ranger Wildtrak</p>
            <h5>16,000</h5>
            <ion-button size="small" color="dark" class="float-right btn_details" [routerLink]="['/view-car']"><ion-icon name="arrow-forward-outline" class="icon"></ion-icon></ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="shadow-normal card-primary" class="driver_item">

          <ion-card-header>
            <img src="../../assets/car-img/ford_ranger.png">
          </ion-card-header>
        
          <ion-card-content>
            <p>Ford Ranger Wildtrak</p>
            <h5>16,000</h5>
            <ion-button size="small" color="dark" class="float-right btn_details" [routerLink]="['/view-car']"><ion-icon name="arrow-forward-outline" class="icon"></ion-icon></ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="shadow-normal card-primary" class="driver_item">

          <ion-card-header>
            <img src="../../assets/car-img/ford_ranger.png">
          </ion-card-header>
        
          <ion-card-content>
            <p>Ford Ranger Wildtrak</p>
            <h5>16,000</h5>
            <ion-button size="small" color="dark" class="float-right btn_details" [routerLink]="['/view-car']"><ion-icon name="arrow-forward-outline" class="icon"></ion-icon></ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="shadow-normal card-primary" class="driver_item">

          <ion-card-header>
            <img src="../../assets/car-img/ford_ranger.png">
          </ion-card-header>
        
          <ion-card-content>
            <p>Ford Ranger Wildtrak</p>
            <h5>16,000</h5>
            <ion-button size="small" color="dark" class="float-right btn_details" [routerLink]="['/view-car']"><ion-icon name="arrow-forward-outline" class="icon"></ion-icon></ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>
</div>

</ion-content>
