@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "bootstrap";

*{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}


.message-icon {
  max-width: 8%;
  margin-right: 5%;
}

.rounded{
  border-radius: 100% !important;
  max-width: 11%;
  margin-right: 5%;
}


ion-header{
  --ion-background-color: rgb(26, 26, 26);
}

ion-toolbar{
  border-radius: 0px 0px 20px 20px;
}



ion-searchbar{
  --border-radius: 25px;
  --box-shadow: none;
  --background: rgb(228, 228, 228);
  --cancel-button-color: rgb(26, 26, 26);
  --color: rgb(26, 26, 26);
  --icon-color: rgb(26, 26, 26);
    height: 70px;
    margin-top: 5%;
}

ion-content{
  --ion-background-color: white;
}

ion-card{
  display: block;
  //flex-direction: column;
  max-width: 100%;
  margin: 1 !important;
  border-radius: 10%;
}

ion-item{
  --border-width: 0;
  --inner-border-width: 0;
}

.icon {
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;
 }
 
 .text{
   display: inline-block;
   vertical-align: middle;
   font-size: 12px;
   margin-left: 3%;
   margin-right: 10%;
 }

p{
  font-size: 100%;
}

.type{
  margin-top: 0%;
  //width: 100%;
}

.type1{
  margin-top: 5%;
}

.available{
  margin-top: 5%;

}

.logo{
  max-width: 30%;
}

.price{
  margin-top: 5%;
}

.payment{
  margin-top: 5%;
}

.intro{
  margin-top: 5%;
}

.recom{
  margin-bottom: 20%;
}

.driver_item{
  border-radius: 20px;
  margin-top: 5%;
  --padding-end: 0px;
  --inner-padding-end: 0px;
}

.btn_details{
  margin-top: -50px;
  height: 40px;
  width: 40px;
  --border-radius: 20px 0px 20px 0px;
  margin-right: -15px;
  font-size: 15px;
}