<ion-content [fullscreen]="true">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="car_pic text-center">
    <ion-icon name="arrow-back" color="light" class="float-left"  size="large" (click)="back();"></ion-icon>
    <ion-icon name="heart-outline" color="light" class="float-right" size="large"></ion-icon>
    <div class="car_slides">
    <ion-slides pager="true" [options]="sliderOptions" #slideWithNav (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">  
      <ion-slide *ngFor="let s of sliderOne.slidesItems">
        <img src="../../assets/car-img/mazda3.png">
      </ion-slide>
      <ion-slide *ngFor="let s of sliderOne.slidesItems">
        <img src="../../assets/car-img/580b585b2edbce24c47b2cca.png">
      </ion-slide>
      <ion-slide *ngFor="let s of sliderOne.slidesItems">
        <img src="../../assets/car-img/ford_ranger.png">
      </ion-slide>
    </ion-slides>
  </div>
  </div>

  <div class="ion-padding car_name">
    <h2>Mazda 3
      <ion-chip class="float-right" color="success">
        <ion-label>Great Deal</ion-label>
      </ion-chip>
      <ion-chip >
        <ion-label><span class="fa fa-star checked"></span> 4.5</ion-label>
      </ion-chip>
    </h2>
    <p>Sedan</p>
  </div>


<div class="ion-padding text-center">
    <ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
      <ion-segment-button value="first" checked>
        Overall
      </ion-segment-button>
      <ion-segment-button value="second">
        Car
      </ion-segment-button>
      <ion-segment-button value="third">
        Pick Up & Drop Off
      </ion-segment-button>
      <ion-segment-button value="fourth">
        Safety
      </ion-segment-button>
      <ion-segment-button value="fifth">
        Reviews
      </ion-segment-button>
    </ion-segment>

  
    
    <div [ngSwitch]="type">
      <ion-slides [options]="sliderBrands" class="type">  
      <ion-slide>
        <ion-card *ngSwitchCase="'first'" class="shadow-normal card-primary" class="driver_item">
          <ion-card-header>
            <img class="specs" src="../../assets/icon/speedometer (4).png">
          </ion-card-header>
          <ion-card-content>
            <p id="sub">5.6s 0-100 km/h</p>
            <h7 class="main">Acceleration</h7>
          </ion-card-content>
        </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card *ngSwitchCase="'first'" class="shadow-normal card-primary" class="driver_item">
        <ion-card-header>
          <img class="specs" src="../../assets/icon/engine (1).png">
        </ion-card-header>
      
        <ion-card-content>
          <p id="sub">3.0L 1-6</p>
          <h7 class="main">Engine Power</h7>
        </ion-card-content>
      </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card *ngSwitchCase="'first'" class="shadow-normal card-primary" class="driver_item">
        <ion-card-header>
          <img class="specs" src="../../assets/icon/settings (2).png">
        </ion-card-header>
      
        <ion-card-content>
          <p id="sub">Automatic</p>
          <h7 class="main">Transmission</h7>
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>


  <div class="text-left" *ngSwitchCase="'first'">


        <ion-card class="shadow-normal card-primary" class="driver_item2">

          <ion-card-content>
            <p class="title">Owner info</p>
            <div class="titlediv">
              <p class="title">John Doe</p>
              <p class="sciname"><img class="icon" src="../../assets/icon/gender-symbols.png"> Male</p>
              <p class="sciname"><img class="icon" src="../../assets/icon/age-group.png"> Age</p>
              <p class="sciname"><img class="icon" src="../../assets/icon/map (1).png"> Address</p>
            </div>
          </ion-card-content>
        </ion-card>



        <ion-card class="shadow-normal card-primary" class="driver_item2">

          <ion-card-content>
            <p class="title">Driver info</p>
            <div class="titlediv">
              <p class="title">John Doe</p>
              <p class="license">Professional</p>
              <p class="sciname"><img class="icon" src="../../assets/icon/gender-symbols.png"> Male</p>
              <p class="sciname"><img class="icon" src="../../assets/icon/age-group.png"> Age</p>
              <p class="sciname"><img class="icon" src="../../assets/icon/map (1).png"> Address</p>
            </div>
          </ion-card-content>
        </ion-card>

        <div class="card-body" >
          <ion-button (click)="presentModal()" expand="full" shape="round" color="dark" class="btn_book">
            <ion-chip outline color="light">
            <ion-label>₱ 3,000/a day</ion-label>
          </ion-chip>
          Book Now</ion-button>
          </div>

  </div>

  <div class="text-left car_details"*ngSwitchCase="'second'">
    <h5 style="color: black;">Car Details:</h5>

    <ion-item>
      <img class="safety" src="../../assets/icon/car-seat (2).png">
      <h7 style="font-size: 14px;">4 Seats</h7>
    </ion-item>

      <ion-item>
        <img class="safety" src="../../assets/icon/flame.png">
        <h7 style="font-size: 14px;">Unleaded</h7>
      </ion-item>

       <ion-item>
        <img class="safety" src="../../assets/icon/snowflake (1).png">
        <h7 style="font-size: 14px;">Air Conditioning</h7 >
      </ion-item>

      <ion-item>
        <img class="safety" src="../../assets/icon/speedometer (5).png">
        <h7 style="font-size: 14px;">Unlimited Mileage</h7>
      </ion-item>

       <ion-item>
        <img class="safety" src="../../assets/icon/car (4).png">
        <h7 style="font-size: 14px;">4 Doors</h7>
      </ion-item>

      <ion-item>
        <img class="safety" src="../../assets/icon/gas-station (1).png">
        <h7 style="font-size: 14px;">Fuel info: Full to full</h7>
      </ion-item>

      <div class="card-body" >
        <ion-button (click)="presentModal()" expand="full" shape="round" color="dark" class="btn_book">
          <ion-chip outline color="light">
          <ion-label>₱ 3,000/a day</ion-label>
        </ion-chip>
        Book Now</ion-button>
        </div>

  </div>
  
    <div *ngSwitchCase="'third'" class="ion-padding text-left">

          <ion-item class="input-format">
            <ion-label position="stacked">From</ion-label>
            <ion-input placeholder=" Pick-up Date" style="font-size: 12px;"><ion-icon name="calendar"></ion-icon></ion-input>
            <ion-input placeholder=" Location" style="font-size: 12px;"><ion-icon name="location"></ion-icon></ion-input>
          </ion-item>

          
          <ion-item class="date2 input-format">
            <ion-label position="stacked">To</ion-label>
            <ion-input placeholder=" Drop-off Date" style="font-size: 12px;"><ion-icon name="calendar"></ion-icon></ion-input>
            <ion-input placeholder=" Location" style="font-size: 12px;"><ion-icon name="location"></ion-icon></ion-input>
          </ion-item>

    </div>

    <div class="card-body" *ngSwitchCase="'third'">
      <ion-button (click)="presentModal()" expand="full" shape="round" color="dark" class="btn_book">
        <ion-chip outline color="light">
        <ion-label>₱ 3,000/a day</ion-label>
      </ion-chip>
      Book Now</ion-button>
    </div>


    <div class="text-left car_details" *ngSwitchCase="'fourth'">
      <h5 style="color: black;">Cleaning and safety practices:</h5>

        <ion-item>
          <img class="safety" src="../../assets/icon/clean.png">
          <h7 style="font-size: 14px;"> Enhanced cleaning of vehicles</h7>
        </ion-item>

         <ion-item>
          <img class="safety" src="../../assets/icon/smartphone.png">
          <h7 style="font-size: 14px;"> Minimal contact with option to check-in online</h7 >
        </ion-item>

        <ion-item>
          <img class="safety" src="../../assets/icon/wiping-sprayer-tool.png">
          <h7 style="font-size: 14px;"> Cleanliness and safety measures at pick-up locations</h7>
        </ion-item>

         <ion-item>
          <img class="safety" src="../../assets/icon/face-mask.png">
          <h7 style="font-size: 14px;"> Other safety measures for customers</h7>
        </ion-item>

        <ion-item>
          <img class="safety" src="../../assets/icon/wash.png">
          <h7 style="font-size: 14px;"> Staff health and safety measures</h7>
        </ion-item>

        <div class="card-body" >
          <ion-button (click)="presentModal()" expand="full" shape="round" color="dark" class="btn_book">
            <ion-chip outline color="light">
            <ion-label>₱ 3,000/a day</ion-label>
          </ion-chip>
          Book Now</ion-button>
          </div>

    </div>

      <div *ngSwitchCase="'fifth'" class="rate">
        <h2>4.5
          <span class="fa fa-star checked1"></span>
          <span class="fa fa-star checked1"></span>
          <span class="fa fa-star checked1"></span>
          <span class="fa fa-star checked1"></span>
          <span class="fa fa-star "></span>
        </h2>

        <ion-card class="reviews">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/driver-pic/Vignettes-willie.jpg" />
          </ion-avatar>
          <ion-label>
            <h6>Finn</h6>
            <span class="fa fa-star checked1"></span>
            <span class="fa fa-star checked1"></span>
            <span class="fa fa-star checked1"></span>
            <span class="fa fa-star checked1"></span>
            <span class="fa fa-star "></span>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
        </ion-item>
      </ion-card>

      <div class="card-body" >
        <ion-button (click)="presentModal()" expand="full" shape="round" color="dark" class="btn_book">
        Create review</ion-button>
        </div>

      </div>

    </div>


  </div>



</ion-content>
