@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "bootstrap";

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }

ion-content{
    --ion-background-color: white;
}

ion-item{
    --border-width: 0;
    --inner-border-width: 0;
}

ion-segment-button {
    --indicator-box-shadow: transparent !important;
    --background:white;
    --color:black;
    --background-checked: black!important;
    --color-checked: white;
    border-radius: 30rem !important;
    margin: 0%;
    font-size: 12px;
}

ion-card{
    display: block;
    //flex-direction: column;
    max-width: 100%;
    margin: 1 !important;
    border-radius: 10%;
}

ion-label{
    --ion-font-family: 'Poppins', sans-serif;
}

ion-card-subtitle{
    color: black;
}

p{
    color: black;
}

h7{
    color: black;
}

.car_pic{
    background-color: black;
    padding: 30px;
}

.car_slides{
    margin-top: 15%;
}

.specs{
    max-width: 100%;
}

.btn_book{
    height: 50px;
}

.overall_card{
    max-width: 100px;
}

.driver_item{
    border-radius: 20px;
    margin-top: 15%;
    --padding-end: 0px;
  --inner-padding-end: 0px;
  background-color: white;
  width: 300px;
  color: black;
}

.driver_item2{
    border-radius: 20px;
    margin-top: 5%;
    --padding-end: 0px;
  --inner-padding-end: 0px;
  background-color: white;
}

.checked {
    color: orange;
}

.checked1 {
    color: orange;
}

.stars{
    max-width: 10px;
}


.car_name{
    margin-top: 2%;
}

.img{
    max-width: 100%;
    max-height: 100%;
    margin-top: -5%;
}

.img1{
    max-width: 30%;
    max-height: 30%;
}

.info{
    margin-bottom: -3%;
}

.car_details{
    margin-top: 5%;
}

.driver_pic{
    max-width: 50%;
    float: left;
    margin-top: 0px;
    border-radius: 20px;
}

.title{
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.license{
    font-size: 15px;
    opacity: 90%;
    margin-top: -15px;
    color: black;
}

.sciname{
    font-size: 15px;
    opacity: 90%;
    margin-top: -8px;
    color: black;
}

.icon{
    max-width: 5%;
    color: white;
}

.icon1{
    max-width: 10%;
    border-radius: 20px;
}

#back_btn{
    max-width: 100px;
}

.input-format {
    text-align: left !important;
    box-shadow: 0 3px 10px rgba(189, 189, 189, 0.424);
    // width: 85%;
    border-radius: 0.5rem;
    padding: 8px !important;
}

.date2{
    margin-top: 5%;
}

#sub{
    font-size: 12px;
}

.rate{
    margin-top: 5%;
}