<ion-content>
  <ion-list>
    <ion-item>
      <ion-label style="font-size: 125%;">Recent Transaction</ion-label>
    </ion-item>

    <div class="trans">

    <ion-item>
      <ion-label>
        <h6>February 2, 2022</h6>
        <h7>Mazda 3</h7>
      </ion-label>
      <span>P 1,500.00</span>
    </ion-item>

    <ion-item>
      <ion-label>
        <h6>February 3, 2022</h6>
        <h7>Mirage G4</h7>
      </ion-label>
      <span>P 2,500.00</span>
    </ion-item>

    <ion-item>
      <ion-label>
        <h6>February 4, 2022</h6>
        <h7>Tesla</h7>
      </ion-label>
      <span>P 500.00</span>
    </ion-item>

    <ion-item>
      <ion-label>
        <h6>February 5, 2022</h6>
        <h7>Ford Raptor</h7>
      </ion-label>
      <span>P 5,500.00</span>
    </ion-item>

  </div>

  </ion-list>
</ion-content>
